@tailwind base;
@tailwinond components;
@tailwind utilities;
@font-face {
    font-family: "GothamBold";
    src: url(./Gotham-Font/Gotham-Bold.ttf);
}
@font-face {
    font-family: "GothamBook";
    src: url(./Gotham-Font/Gotham-Book.ttf);
}

::-webkit-scrollbar {
    width: 0px;
}

:root{
    --color1: #3E3939;
    --color2: #2C2727;
    --color3: #3DA35D;
    --color4: #3E3939;
    --color5: #F6F4F4;
}

.login-body, .table-header, .table-body-row:hover, .time-range-item:hover, .track-header, .track-item:hover, .track-number, .artist-card:hover{
    font-family: GothamBold;
}

.navbar-container, .table-body, .time-range-container, .track-body, .artist-card{
    font-family: GothamBook;
}

.cover{
    object-fit: cover;
}

.closed-navbar-panel {
    opacity: 0;
    left: -500px
}

.closed-navbar-panel.open {
    opacity: 1;
    left: 20px;
}